.gitignore
./sre/main/resources/application.properties
./src/main/java/com/example/demo/pckg1/Parent_repository.java
./src/main/java/com/example/demo/pckg1/Leader_Repository.java
./src/main/java/com/example/demo/pckg1/KidRepository.java
./src/main/java/com/example/demo/pckg1/CourseRepository.java

HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
